.App {
  margin: 30px;
  padding: 20px;
  border: 2px solid red;
  border-radius: 20px;
}

.banner{
  display: flex;
  justify-content: space-between;
}

button{
  background-color: red;
  margin: 10px;
  border: 0;
  width: 150px;
  padding: 15px;
  border-radius: 5px;

}

.addScore{
  margin: 10px;
  font-size: 20px;
}

.addWicket{
  margin: 10px;
  font-size: 20px;
}
.addBall{
  margin: 10px;
  font-size: 20px;
}